body{
    background-color: $secondaryColor;  
}

header{
    background-color: $secondaryColor;
}

main{
    background-color: $secondaryColor;
}

footer{
    background-color: $mainColor;
    p{
    font-family: $mainFont;
    font-size: $textSm;
    font-weight: 100;
    color: black;
    padding: 0px;
    }
    img{
    width: 30px;
    margin: 0px 10px;
    }
}
