body{
    background-color: map-get($map: $paleta, $key:'dos');  
}

header{
    background-color: map-get($map: $paleta, $key:'dos');
}

main{
    background-color: map-get($map: $paleta, $key:'dos');
}

footer{
    background-color: $mainColor;
    p{
    font-family: $mainFont;
    font-size: $textSm;
    font-weight: 100;
    color: black;
    padding: 0px;
    }
    img{
    width: 30px;
    margin: 0px 10px;
    }
}

.ensayo__sala1--cuadro{
    border: solid 5px $mainColor;
    margin: 0px;
    padding: 0px;
}

.ensayo__sala2--cuadro{
    @extend .ensayo__sala1--cuadro;
}

.ensayo__foto--tamaño{
    width: 90%;
    height: auto;
}

.ensayo__lista--estilo{
    margin: 25px 0px;
    list-style: none;
    text-align: center;
    font-family: $mainFont;
    color: map-get($map: $paleta, $key:'tres');
    font-size: $textSm;
    font-weight: 100;
    line-height: 2.5rem;
}



.bg-gold{
    background-color: map-get($map: $paleta, $key:'uno' )
}



.carta__table--ancho{
    width: 100%;
    height: auto;
}

.carta__bebida--cuadro{
    border: solid 5px $mainColor;
    margin: 10px;
}

.carta__comida--cuadro{
    grid-area: comida;
    border: solid 5px $mainColor;
    margin: 10px;
}

.agenda__destacado--cuadro{
    border: solid 5px $mainColor;
    background-image: url(../img/agenda.jpg);
    background-size: contain;
    background-position: 50%;
}

.agenda__muestra--cuadro{
    @extend .agenda__destacado--cuadro;
    width: 50%;
}

.agenda__muestras--pintura{    
    width: 33%;
    height: auto;
}

.header__img--fluid{
    width: 100%;
    height: auto;
}




