body{
    background-color: $secondaryColor;  
}

footer{
    background-color: $mainColor;
    margin: 0px;
    padding: 0px;
        p{
        font-family: $mainFont;
        font-size: $textSm;
        font-weight: 700;
        color: $secondaryColor;
        padding-top: 5px;
        padding-bottom: 0px;
    }   
            img{
            width: 30px;
            margin: 0px 5px 5px 5px;
        }
}


// Clases // 

.text__Bold{
    font-weight: 700;
}

.bg-gold{
    background-color: $mainColor;
}

.mapa{
    width: 75%;
    height: auto;
}

.spoty{
    width: 75%; 
    height: auto;
    margin-top: 5%; 
}

.cuadro{
    border: solid 5px $mainColor;
}

.agenda__destacado--cuadro{
    @extend .cuadro;
    background-image: url(../img/agenda.jpg);
    background-size: contain;
    background-position: 50%;
}

.agenda__muestras--pintura{    
    width: 33%;
    height: auto;
}

.carta__table--ancho{
    width: 100%;
    height: auto;
    border: solid 5px $mainColor;
    text-align: left;
}

.ensayo__sala--cuadro{
    border: solid 5px $mainColor;
    margin: 0px;
    padding: 0px;
}

.ensayo__foto--tamaño{
    width: 90%;
    height: auto;
    margin: 10px;
}

.ensayo__lista--estilo{
    margin: 25px 0px;
    list-style: none;
    text-align: center;
    font-family: $mainFont;
    color: $keyColor;
    font-size: $textSm;
    font-weight: 100;
    line-height: 2.5rem;
}




