$mainColor: rgb(228, 184, 72);
$secondaryColor: black;
$keyColor: white;

$mainFont: 'Roboto Condensed', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$textLg: 4rem;
$textMd: 3rem;
$textSm: 2rem;

$paleta:(
    'uno': rgb(228, 184, 72),
    'dos': black,
    'tres': white,
);
